.thumb {
    border-radius: 10px;
    height: 300px;
    width: 300px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.thumb h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: #ffffff;
    text-align: start;
}

@media screen and (max-width: 600px) {
    .thumb {
        height: 255px;
        width: unset;
        padding: 19px;
    }

    .thumb h2 {
        font-weight: 500;
        font-size: 18px;
    }

    .link {
        width: 90%;
    }
}