.page {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.body {}

.body h1 {
    font-weight: 700;
    font-size: 288px;

    margin-top: 130px;
    margin-bottom: 66px;

    text-align: center;

    color: #FF6060;
}

.body h2 {
    font-weight: 500;
    font-size: 36px;

    margin-bottom: 100px;

    color: #FF6060;
}

.body a {
    font-weight: 500;
    font-size: 18px;

    text-decoration-line: underline;

    color: #FF6060;
}