.slider {
    mix-blend-mode: normal;
    height: 415px;
    width: 96.1%;
    border-radius: 25px;
    padding: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    gap: 130px;
}

.slider .arrows {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .slider {
        height: 180px;
        gap: 40px;
    }

}